<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myPet"
          class="ru.aykononov.spring.introduction.Dog">
    </bean>

    <bean id="myPerson"
          class="ru.aykononov.spring.introduction.Person">
        <!-- урок 7 - DI внедрение с помощью конструктора -->
 <!--        <constructor-arg ref="myPet"></constructor-arg>-->
        <!-- урок 8 - DI внедрение с помощью сеттеров -->
        <property name="pet" ref="myPet"></property>
        <!-- урок 9 - DI внедрение других значений -->
        <property name="surname" value="Zaur"></property>
        <property name="age" value="33"></property>
    </bean>
</beans>